<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main/index.css">
    <link rel="stylesheet" type="text/css" href="/css/main/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main/nav.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> <!-- 맨위 말풍선 폰트-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>index</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/index.js"></script>
    <script src="/js/main/nav.js"></script>
</head>
<body>
    <!--header start-->
    <header th:replace="main/header :: main_headerFragment">
    </header>
    <!--header end-->

<!--    section start-->
    <section>
        <div class="carousel_container main_top">
            <input type="radio" id="radio1" name="radio" checked>
            <input type="radio" id="radio2" name="radio" >
            <input type="radio" id="radio3" name="radio" >
            <input type="radio" id="radio4" name="radio" >
            <input type="radio" id="radio5" name="radio" >

<!--            서버에서 itemIdx 넘겨주기-->
            <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${mainCarousel[0].itemIdx})}" class="first_img">
                <img th:src="@{/image/etc/main_carousel/main_carousel1.jpg}" src="image/main_carousel/carousel1.jpg" alt="main 캐러셀 이미지1">
            </a>

            <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${mainCarousel[1].itemIdx})}">
                <img th:src="@{/image/etc/main_carousel/main_carousel2.jpg}" src="image/main_carousel/carousel2.jpg" alt="main 캐러셀 이미지2">
            </a>

            <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${mainCarousel[2].itemIdx})}">
                <img th:src="@{/image/etc/main_carousel/main_carousel3.jpg}" src="image/main_carousel/carousel3.jpg" alt="main 캐러셀 이미지3">
            </a>

            <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${mainCarousel[3].itemIdx})}">
                <img th:src="@{/image/etc/main_carousel/main_carousel4.jpg}" src="image/main_carousel/carousel4.jpg" alt="main 캐러셀 이미지4">
            </a>

            <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${mainCarousel[4].itemIdx})}">
                <img th:src="@{/image/etc/main_carousel/main_carousel5.jpg}" src="image/main_carousel/carousel5.jpg" alt="main 캐러셀 이미지5">
            </a>

            <div class="manualbtns">
<!--                radio 버튼 클릭영역 manualbtn 확장-->
                <label for="radio1" class="manualbtn"></label>
                <label for="radio2" class="manualbtn"></label>
                <label for="radio3" class="manualbtn"></label>
                <label for="radio4" class="manualbtn"></label>
                <label for="radio5" class="manualbtn"></label>
            </div>
            <div class="arrowbtns">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

        <div class="main_bottom">
            <a th:href="@{#}"><img src="/image/etc/bestitem.JPG" alt="best item"></a>
            <a th:href="@{/main/register}"><img th:src="@{/image/etc/joinus.JPG}" alt="join us"></a>
            <div class="main_bottom_board">
                <div class="notice">
                    <a th:href="@{#}" id="more">+</a>
                    <a th:href="@{#}">+ 사이즈 측정 방법</a>
                    <a th:href="@{#}">+ 회원 가입 시 적립금 및 예치금 안내</a>
                    <a th:href="@{#}">+ 배송 / 교환 및 반품 절차</a>
                </div>
            </div>
        </div>

        <div class="weeklybest">
            <div class="weeklybest_caption">
                WEEKELY BEST
            </div>
            <div class="weeklybest_container">
                <div class="weeklybest_menu">
                    <span class="active">OUTER</span>
                    <span>TOP</span>
                    <span>SHIRTS</span>
                    <span>KNIT</span>
                    <span>BOTTOM</span>
                    <span>SHOES</span>
                </div>
                <div class="weeklybest_carousel">
                    <div class="w_carousel_mdpick">
                        <div class="mdpick_caption"><b>MD's</b> PICK</div>
                        <div class="mdpick_img">
                            <a th:href="@{/main/product/{itemIdx}(itemIdx=${outerList[0].itemIdx})}">
                                <img th:src="@{${outerList[0].imgUrl}}" alt="md's pick"/>
                            </a>
                        </div>
                        <div class="mdpick_name">
                            <a th:href="@{/main/product/{itemIdx}(itemIdx=${outerList[0].itemIdx})}" th:text="${outerList[0].itemName}">로예 나일론 바람막이 집업</a>
                        </div>

                        <div class="mdpick_info" th:text="${outerList[0].itemInfo}"></div>

                        <div class="mdpick_price">
                            <b th:text="'\\'+${#numbers.formatInteger(outerList[0].price,0,'COMMA')}"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <!--nav-->
    <nav th:replace="main/nav :: main_navFragment"></nav>

    <!--footer-->
    <footer th:replace="main/footer :: main_footerFragment"></footer>

</body>
</html>